html, body {
  height:100%;
  box-sizing: border-box;
  font-size: 100%;
  font-variant: small-caps;
  margin:0;
  overflow-x: hidden;
  text-align: center;
}

.page {
  width:100%;
  display: flex;
  flex-direction: column;
}

.generator {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  text-align: center;
  top: 32%;
  left: 0;
  right: 0;
  margin: auto;
  padding: 1% 1% 20% 1%;
}

img {
  width: 100%;
  filter: drop-shadow(8px 8px 10px rgb(0, 0, 0));
}

.div4 {
  color: rgb(255, 255, 255);
  font-size: 2vmax;
  padding: 5%;
}

footer {
  width: 100%;
  height: 10vmax;
  background-color: rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 500px) {
  .bg {
    background-color: rgb(54, 60, 69);
    background-image: url("https://images.hdqwalls.com/download/magic-the-gathering-4k-lx-1920x1200.jpg");
    background-repeat: no-repeat;
    background-position: 25%;
    background-size: cover;
    height: 100%;
  }

  /* https://www.elsetge.cat/myimg/f/12-121601_wallpaper-magic-the-gathering-chandra-art.jpg */
  header {
    width: 100%;
    height: 20vmax;
    background-color: rgba( 0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2%;
    top: 0;
    left: 0;
  }

  .div1 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 6vmax;
    letter-spacing: 0.2rem;
    margin: 2%;
  }
  
  .div2 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 3vmax;
    letter-spacing: 0.08rem;
    padding-bottom: 1%;
  }

  .mana-logos {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 7%;
    padding-bottom: 10%;
    background-color: rgba(255, 255, 255, 0.3);
  }

  input {
    width: 90%;
    height: 15vmax;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 5vmax;
    font-variant: small-caps;
    border-radius: 0.5rem;
    border-style: inset;
    letter-spacing: 0.2rem;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.7)
  }

  input:hover {
    background-color: rgba(119, 55, 55, 0.7);
    cursor: pointer;
  }

  .div3 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 4vmax;
    font-weight: bold;
    margin-top: 4%;
    margin-bottom: 3%;
    padding: 2%;
  }

  .chosen-logos {
    width: 15%;
    margin: 2%;
  }  
}